<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>siteweb</title>
        <link rel="stylesheet" href="css/crud.css">
    </head>
    <body>
        <div class="crud">
            <header>
                <h1>cruds</h1>
                <p> management system</p>
            </header>
            <div class="btn">
                <a href="studentslist">studentlist</a>
                <a href="courselist">courselist</a>
            </div>
        </div>
    </body>
</html>    