<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-learning</title>
    <link rel="icon" href="images/entrainement.png">
    <link rel="stylesheet" href="css/freecourse.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script>
        let btn = document.getElementById('scroll');
let a = document.getElementById('search');
const cont = document.querySelectorAll(".container"); 

window.onscroll = function(){
    if(scrollY >= 250){
        btn.style.display= 'block';
    }
    else{
        btn.style.display = 'none';
    }
}
btn.onclick = function(){
    scroll({
        top:0,
        behavior:"smooth"
    })
}

a.addEventListener("input", function(){
    let inputsearch = a.value.toLowerCase();
    cont.forEach(function(container) {
        let coursetext = container.querySelector("span").textContent.toLowerCase();

        if (coursetext.includes(inputsearch)){
            container.style.display = "block";
        }
        else{
            container.style.display = "none";
        }
        
    });

});


const checkboxes = document.querySelectorAll('.Category input[type="checkbox"]');
checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function() {
        const selectedCategories = Array.from(checkboxes) // Convertir la NodeList en un tableau
                                    .filter(cb => cb.checked) // Filtrer les cases cochées
                                    .map(cb => cb.value); 

        cont.forEach(container => {
            const courseCategory = container.dataset.category; 

            
            if (selectedCategories.includes(courseCategory) || selectedCategories.length === 0) {
                container.style.display = 'block';
            } else {
                container.style.display = 'none'; 
            }
        });
    });
});s
    </script>
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="#home" class="logo">BrainBoost</a>
            <nav class="navbar">
                <a href="pageMain" >home</a>
                <a href="#about" >about</a>
                <a href="#courses" >courses</a>
                <a href="#reviews" >reviews</a>
                <a href="#contact" >contact</a>
                <a href="C:\Users\khali\OneDrive\Desktop\pfa\pageSignUp\signUp.html" class="btn" id="btn">Inscription</a>
            </nav>
           <div id="menu-btn" class="fas fa-bars"></div>
        </section>
    </header>
    <section class="titre">
        <h1><span>Free</span> Courses</h1>
    </section>

    <section class="courses">
        <div class="nav_search">
            <input type="search" placeholder="search..." id="search" value="">
            <i class="fa-solid fa-search">‌</i>
        </div>

        <div class="content">
            <div class="text">
                <h1>Category</h1>
                <form action="">
                    <div class="Category">
                        <input type="checkbox" id="Backend" value="Backend" >
                        <label for="Backend" >Backend</label>
                    </div>
                    <div class="Category">
                        <input type="checkbox" id="Frontend" value="Frontend">
                        <label for="Frontend" >Frontend</label>
                    </div>
                </form>

            </div>

            <div class="box">
                <div class="container" data-category="Frontend">
                    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs5g6OOk4LeWrEySgI5Rt7AsR887_GVNNTaO-Sp9Rsoi3j9Q_xL4LAEON8DXEiD-MWrac&usqp=CAUhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs5g6OOk4LeWrEySgI5Rt7AsR887_GVNNTaO-Sp9Rsoi3j9Q_xL4LAEON8DXEiD-MWrac&usqp=CAU"></a>
                    <p ><ion-icon name="logo-html5"></ion-icon><span>Html</span></p>
                    <div class="pdf">
                        <a href="pdf\cours-html-55.pdf" >Online Viewing</a> 
                    </div>
                </div>
                <div class="container" data-category="Frontend">
                    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJcc0UCiSKu_1ZE_m9QICMrenyt7LHhP-JofAmEY8n0g&s" alt="css"></a>
                    <p value="Frontend"><ion-icon name="logo-css3"></ion-icon><span>Css</span></p>
                    <div class="pdf">
                        <a href="pdf\CSS3.pdf" >Online Viewing</a> 
                    </div>
                </div>

                <div class="container" data-category="Backend">
                    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn3FbgS-i3R5aBA3U81rp5iosPvTzG9W1SLtwOUrDfXA&s" alt="java"></a>
                    <p><ion-icon name="logo-javascript"></ion-icon><span>Java</span></p>
                    <div class="pdf">
                        <a href="pdf\poly2013.pdf" >Online Viewing</a> 
                    </div>
                </div>

                <div class="container" data-category="Frontend">
                    <a href=""><img src="https://www.loginradius.com/blog/static/00a89fc56461ea1529439d89072c93f1/701ee/react.jpg" alt="react" width="300px"></a>
                    <p><ion-icon name="logo-react"></ion-icon><span>React</span></p>
                    <div class="pdf">
                        <a href="pdf\react-fr.pdf" >Online Viewing</a> 
                    </div>
                  
                </div>

                <div class="container" data-category="Frontend">
                    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5YQi7rdN_LB4p_aRuNAKGRqfbyTVQR9VWXuDT-cWNzw&s" alt="js"></a>
                    <p><ion-icon name="logo-javascript"></ion-icon><span>Js</span></p>
                    <div class="pdf">
                        <a href="pdf\billiejoe_javascript_fiches.pdf" >Online Viewing</a> 
                    </div>
                </div>

                <div class="container" data-category="Backend">
                    <a href=""><img src="https://miro.medium.com/v2/resize:fit:840/1*RJMxLdTHqVBSijKmOO5MAg.jpeg" alt="python"></a>
                    <p><ion-icon name="logo-python"></ion-icon><span>Python</span></p>
                    <div class="pdf">
                       <a href="pdf\cours-python.pdf" >Online Viewing</a> 
                    </div>
                </div>

                <div class="container" data-category="Frontend">
                    <a href=""><img src="https://tms-outsource.com/blog/wp-content/uploads/2023/05/bootstrap-alternatives.jpg"></a>
                    <p><span>Bootstrap</span></p>
                    <div class="pdf">
                        <a href="pdf\bootstrap-support.pdf" >Online Viewing</a> 
                    </div>
                </div>

                <div class="container" data-category="Backend">
                    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf8B7Lnh2q9xmEiK0k5dg4fIkPkngkmm2FE6B36FYXZA&s"></a>
                    <p></ion-icon><span>Php</span></p>
                    <div class="pdf">
                        <a href="pdf\Cours_php.pdf" >Online Viewing</a>  
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-youtube"></a>
            </div>
            <div class="credit">&copy; copyright @2024 by <span> our team</span> | all rights reserved! </div>
        </section>
    </footer>

    <ion-icon id="scroll" name="arrow-up-circle-outline"></ion-icon>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="js/freecourse.js"></script>
    
</body>
</html>