<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payement</title>
     <!--font awsome cdn link-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
     <!--css file link-->
     <link rel="stylesheet" href="css/payement.css">
     <link rel="icon" href="https://img.icons8.com/?size=48&id=13015&format=png">
     
</head>
<body>
<div class="container">
    <form action="">
        <div class="row">
            <div class="col">
                <h3 class="title">billing adress</h3>
                <div class="inputBox">
                    <span>full name :</span>
                    <input type="text"placeholder="enter your name">
                </div>
                <div class="inputBox">
                    <span>email</span>
                    <input type="email"placeholder="enter your email">
                </div>
                <div class="inputBox">
                    <span>adress</span>
                    <input type="text"placeholder="room - street -locality">
                </div>
                <div class="inputBox">
                    <span>city</span>
                    <input type="text"placeholder="enter your city">
                </div>
                <div class="flex">
                    <div class="inputBox">
                        <span>state :</span>
                        <input type="text"placeholder="enter your state">
                    </div>
                    <div class="inputBox">
                        <span>Zip code</span>
                        <input type="text"placeholder="123 456">
                    </div>
                </div>
                

            </div>
            <div class="col">
                <h3 class="title">Payement</h3>
                <div class="inputBox">
                    <span>cards accepted :</span>
                    <img src="../card_img.png" alt="cards images">
                </div>
                <div class="inputBox">
                    <span>name on card :</span>
                    <input type="text"placeholder="mr. johns freek">
                </div>
                <div class="inputBox">
                    <span>credit card number :</span>
                    <input type="number"placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <span>exp month</span>
                    <input type="text"placeholder="january">
                </div>
                <div class="flex">
                    <div class="inputBox">
                        <span>exp year:</span>
                        <input type="number"placeholder="2024">
                    </div>
                    <div class="inputBox">
                        <span>CW</span>
                        <input type="text"placeholder="1234">
                    </div>
                </div>
                

            </div>
        </div>
        <input type="submit" value="proceed to checkout" class="submit-btn">
    </form>
</div>
</body>
</html>
